.disabled-link {
    pointer-events: none;  /* Disables interaction (clicking) */
    color: #6c757d;         /* Gray color to indicate it's disabled */
    text-decoration: none;  /* Removes underline (optional) */
    cursor: not-allowed;    /* Change cursor to indicate it's disabled */
  }

a {
    font-size: 20px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  a:hover {
    color: #0d6efd !important;         /* Bootstrap primary blue */
    /* text-decoration: underline !important; */
    transition: color 0.3s ease, text-decoration 0.3s ease;
   
  }
  